# root/.env
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

KAFKA_PRODUCER_ACKS=-1
KAFKA_PRODUCER_RETRIES=5
KAFKA_PRODUCER_IDEMPOTENT=true
KAFKA_PRODUCER_TIMEOUT=30000
KAFKA_PRODUCER_AUTO_CREATE_TOPIC=false  # 운영에서는 토픽 수동 생성 권장